vendor
composer.lock

# Ignore files with casing conflicts
src/Compute/HTTPHealthCheck.php
src/Compute/HTTPSHealthCheck.php
src/Baremetalsolution/Resource/ProjectsLocationsNfsshares.php
src/MigrationCenterAPI/ReportSummaryVMWareEngineFinding.php
src/MigrationCenterAPI/ReportSummaryVMWareNode.php
src/MigrationCenterAPI/ReportSummaryVMWareNodeAllocation.php

# Python for generator
*.pyc
*.egg-info

# When running synth.py
.cache/
